---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Sound Journal";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>CPLN 6290</h2>
  <Greeting client:load messages={["Hello", "你好", "Hola"]} />
</BaseLayout>