---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Sound Journal";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>A small website to document my sound journal entries for CPLN 6290 Listening to the City: Soundscapes, Music, And Place</h2>
  <Greeting client:load messages={["Hello", "你好", "Hola"]} />
</BaseLayout>