---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header class="site-header">
  <div class="inner">
    <div class="left">
      <ThemeIcon />
      <Menu />
    </div>

    <nav class="nav-links" aria-label="Primary">
      <Navigation />
    </nav>
  </div>
</header>

