---
let base = import.meta.env.BASE_URL || "/";

// force trailing slash
if (!base.endsWith("/")) base += "/";
---

<div id="main-menu" class="nav-links">
  <a href={base}>Home</a>
  <a href={`${base}about/`}>About</a>
  <a href={`${base}blog/`}>Entries</a>
  <a href={`${base}tags/`}>Tags</a>
</div>
