---
const { label, url } = Astro.props;
---
<a class="social-link" href={url}>{label}</a>

<style>
  .social-link {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #96108b;
    text-decoration: none;
    border-radius: .50rem;
  }
</style>

